<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ZILA VIKAS MANCH</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/search">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          
        </li>
        
        
  
      </ul>
    
    </div>
  </nav>



<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="signup/restaurent">Signup District</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="signup/customer">Signup Student</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="login/customer">Login Student</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="login/restaurent">District Collector</button>
<router-outlet></router-outlet>

<footer class="page-footer font-small pt-4">
    <div class="container-fluid text-center text-md-left">
            <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
              <h5 class="text-uppercase">ABOUT ZIVIMA</h5>
              <p>Zila Vikas Manch is a District portal which will help the district collector in uploading the specific problems or projects of their respective district and this will accessible to all the institutes so that students can select the problems as their projects works and submit their solution in the form of report.</p>
                    </div>
            <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5><br/>
                <ul class="list-unstyled">
                  <li>
                      <a target="_blank" href="http://data.gov.in">
                        <img title="Data Portal (External Site that opens in a new window)" alt="Data Portal" src="https://www.mygov.in/footer_service/images/data-gov-logo.png"></a>
                  </li><br/>
                  <li>
                      <a target="_blank" href="http://www.digitalindia.gov.in">
                        <img title="Digital India (External Site that opens in a new window)" alt="Digital India" src="https://www.mygov.in/footer_service/images/digital-india-logo.png"></a>
                  </li><br/>
                  <li>
                      <a target="_blank" href="https://www.mygov.in">
                        <img title="MyGov (External Site that opens in a new window)" alt="MyGov" src="https://www.mygov.in/footer_service/images/mygov-footer-logo.png"></a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3 mb-md-0 mb-3">
                <h5 class="text-uppercase">Links</h5>
                <br/>
                <ul class="list-unstyled">
                  <li>
                      <a target="_blank" href="https://india.gov.in">
                        <img title="National Portal of India (External Site that opens in a new window)" alt="National Portal of India" src="https://www.mygov.in/footer_service/images/india-gov-logo.png"></a>
                  </li>
                  <br/>
                   <li>
                      <a title="MeitY (External Site that opens in a new window)" alt="MeitY" target="_blank" href="http://meity.gov.in/">
                        <img title="Meity(External Site that opens in a new window)" alt="Meity" src="https://www.mygov.in/footer_service/images/Meity_logo.png"></a>
                   </li>
                   <br/>

                   <li>
                      <a target="_blank" href="http://pmindia.gov.in">
                        <img title="PMINDIA(External Site that opens in a new window)" alt="PMINDIA" src="https://www.mygov.in/footer_service/images/pm-india-logo.png"></a>
                   </li>
                </ul>
    
              </div>
              </div>
            </div>
        <div class="footer-copyright text-center py-3">Zila Vikas Manch 2018 Copyright:
          <a href="#"> ZIVIMA</a>
        </div>
    
      </footer>

