<div>
    <nav>
        Zila vikas manch
    </nav>
</div>

<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="signup/restaurent">Signup Restaurent</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="signup/customer">Signup Customer</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="login/customer">Login Customer</button>
<button routerLinkActive="btn-outline-primary" class="btn mx-1" routerLink="login/restaurent">Login Restaurent</button>
<router-outlet></router-outlet>
